.sampul {
    width: 100px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.show-password {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: -27px;
    position: relative;
}